:root {
    --dark-blue: #0D449C;
    --saturated-blue: #2E64D7;
    --black: #121212;
    --grey: #475569;
    --light-grey: #F2F2F2;
    --alt-white: #F9FAFC;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

html {
    font-size: 10px;
}

header {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

header a {
    font-size: 1.6rem;
    text-decoration: none;
}

#title {
    display: flex;
    flex-direction: column;
    padding: 4rem 1rem;
    text-align: center;
    gap: 2rem;
    background-color: var(--alt-white);
}

#iconWithTitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

h1 {
    font-size: 2.7rem;
}

#iconWithTitle img {
    width: 6rem;
}

#iconWithTitle p {
    font-size: 3.5rem;
    font-weight: 700;
}

#demo {
    margin: 4rem 0;
}

#demo article {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    padding: 4rem 1rem;
}

#demo textarea {
    width: 60rem;
    height: 20rem;
    font-size: 1.3rem;
    font-family: Consolas, "courier new";
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.16);
}

.button-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

#how-to-use {
    text-align: center;
    padding: 8rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: var(--alt-white);
}

#pricing {
    text-align: center;
    padding: 8rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#plans {
    display: flex;
    justify-content: space-around;
    max-width: 80rem;
    width: 100%;
    margin-top: 3rem;
}

#plans img {
    width: 1.6rem;
}

#free-plan {
    max-width: 28rem;
    width: 100%;
    height: fit-content;
    padding: 2.5rem 1.5rem;
    box-sizing: border-box;
    border-radius: 1.5rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 2rem;
}

#paid-plan {
    display: flex;
    flex-direction: column;
    max-width: 32rem;
    width: 100%;
    padding: 2.5rem 1.5rem;
    box-sizing: border-box;
    border-radius: 1.5rem;
    text-align: left;
}

#purchase-button {
    margin-top: 2rem;
    align-self: center;
    background-color: white;
    border: none;
    padding: 0.5rem 1.5rem;
    border-radius: 0.8rem;
    cursor: pointer;
    transition: all 0.1s;
    border: 2px solid var(--saturated-blue);
}

#purchase-button:hover {
    background-color: var(--saturated-blue);
    border: 2px solid white;
    color: white;
}

#purchase-button:active {
    transform: scale(0.9);
}

footer {
    padding: 2.5rem;
    background-color: var(--alt-white);
    text-align: center;
    font-size: 1.2rem;
}

/* Reusable classes */
.black {
    color: var(--black);
}

.dark-blue {
    color: var(--dark-blue);
}

.secondary-text {
    font-size: 1.4rem;
    color: var(--grey);
}

.small-blue-header {
    font-size: 1.6rem;
    color: var(--dark-blue);
}

.medium-black-header {
    font-size: 2rem;
    color: var(--black);
}

.blue-button {
    background-color: var(--saturated-blue);
    border: none;
    padding: 0.5rem 1rem;
    color: white;
    border-radius: 0.8rem;
    box-sizing: border-box;
    border: 2px solid var(--saturated-blue);
    transition: all 0.1s;
    cursor: pointer;
}

.blue-button:hover {
    background-color: white;
    color: var(--saturated-blue);
}

.blue-button:active {
    transform: scale(0.9);
}

.use-step {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 80rem;
    margin-top: 4rem;
    padding: 2rem;
    box-sizing: border-box;
}

.use-step-text {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    text-align: left;
}

.text-block {
    width: 100%;
    max-width: 28rem;
}

.use-step-header {
    font-size: 1.6rem;
    font-weight: 600;
}

.use-step-text {
    color: var(--grey);
    margin-top: 1rem;
    font-size: 1.3rem;
}

.number {
    width: 3.2rem;
    height: 3.2rem;
}

.use-case-img {
    width: 100%;
    max-width: 30rem;
}

.white {
    color: white;
}

.saturated-blue {
    background-color: var(--saturated-blue);
}

.light-grey {
    background-color: var(--light-grey);
}

.cost {
    margin-top: 1.5rem;
    font-size: 3rem;
    font-weight: 700;
}

.small {
    font-size: 1.4rem;
}

.plan-attribute {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1.5rem;
}

.grey {
    color: var(--grey);
}

.plan-attribute-text {
    font-size: 1.3rem;
}

.blue-button:disabled {
    opacity: 0.5;
}

.spinner {
    width: 30px;
    height: 30px;
    border: 4px solid transparent;
    border-top-color: var(--saturated-blue);
    border-radius: 50%;
    animation: spin 1s linear infinite;
    visibility: hidden;
    margin-top: 2rem;
}

.spinner.visible {
    visibility: visible;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}